<br>
<br>
<footer>
  <div id="logoImg">
    <img id="logo" src="/img/csumb.png" alt="csumb">
    <p> CST438 Software Engineering. 2024 Ⓒ Group 7: Tamanna, William, Luis,
      Martin</p>
  </div>
</footer>