<nav>
    <a href = "/"> Tag Explorer </a>
    <br>
    <a href = "tag-editor"> Tag Editor </a>
    <br>
    <a href = "manage-tags"> Manage Tags </a>
    <br>
    <a href = "switch-view"> Switch View </a>

</nav>